.spanmain{
    color:  #ffffff91;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.38px;
    text-transform: capitalize;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}
.main-img{
    width: 250px;
    height: 200px;
    text-align: center;
    padding-left: 60px;

}
.main-img-a{
    width: 250px;
    height: 200px;
    text-align: center;
    padding-left: 75px;

}
.main-img-b{
    width: 250px;
    height: 200px;
    text-align: center;
    padding-left: 45px;

}
.main-section{
    display: inline-grid;
}
.main-row{
    display: flex;
    padding-top: 75px;
    padding-left: 65px;
    padding-right: 75px;
}
.main-head{
    color: #FFF;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 200;
    line-height: 48px;
    text-transform: capitalize;
    padding-top: 120px;
}
.main-phg{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    padding-left: 160px;
    padding-right: 160px;
}
.main-head-a{
    color: #FFF;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-block-start: 80px;
    margin-block-end: 0;
}
.main-p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}